.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}
.navbar .logo{
    width: max(10%,80px);
}
.navbar .profile{
    width: 40px;
}
.plain-button {
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ccc;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.plain-button:hover {
    background-color: #e0e0e0;
}

.plain-button:active {
    background-color: #d0d0d0;
}
